/*fonts declaration*/
@font-face {
    font-family: "PlumbMedium";
    src: url('fonts/PlumbMediumC.ttf') format("truetype")
}
/*-----------------*/

/*Adjust properly background attachment*/
body {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    /*background-size: 100% auto;*/
    background: url("imgs/background/table_desktop.png") no-repeat fixed center bottom;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
/*-----------------*/

/*navbar*/
a, span, .navbar { /*transition*/
    transition: all 300ms linear;
}

.navbar { /*set color, minimize height*/
    background-color: #2a6363;
    padding-top: 2px;
    padding-bottom: 2px
}

#nav-tel {
    background-image: url("imgs/icons/call32.png");
}

#nav-mail {
    background-image: url("imgs/icons/mail32.png");
}

a.nav-contacts, a.nav-btn-contacts {
    font-size: 1.1rem;
    color: black !important;
}

a.nav-link {
    padding: .4rem 0;
}

.nav-contacts { /*contact strip in menu*/
    display: none;
    background: no-repeat left;
    padding-left: 40px;
    text-indent: -88888px;
    width: 0;
}

.nav-contacts, a.nav-btn-contacts {
    filter: invert(1);
    -webkit-filter: invert(1);
    -ms-filter: invert(1)
}


/*-----------*/

/*setup font*/
h1, h2 {
    font-family: PlumbMedium;
    color: #fff;
    margin: 0 0;
    padding: 0 0;
}
/*----------------------------*/

/*Fullpage sections. setup background for navbar color changing*/
.fp-tableCell {
    height: 100% !important;
}

.section {
    text-align: center;
    background-color: rgba(42, 99, 99, 0)
}

#section1, #section2 {
    background-color: rgba(42, 99, 99, 0)
}

#section3 {
    background-color: rgba(242, 242, 242, 0)
}
/*---------*/

/*FullPage controllers*/
.fp-slidesNav {
    bottom: 0px !important;
    z-index: 0;
}
/*-------------------------*/
/*first Page content adjust*/
#first-container, second-container {
    width: 100%;
    height: 95%;
}

#section1 h1{
    font-size: 1.6em;
    /*position: relative;*/
    padding: 0 4px;
    /*line-height: 1.6em;*/
}

#section1 h2 {
    font-size: 1.3em;
    padding: 0 4px;
    /*line-height: 1.5em;*/

}

#section2 h1 {
    /*font-size: inherit;*/
    font-size: 0.9em;
}
    /*black-strip*/
.subtitle {
    background-color: #0c4c495c;
    padding: 0 80000px;
    margin: 0 -80000px;
    z-index: -1;
    /*height: 5em;*/
    /*width: 8000px;*/
    /*align-self: flex-start;*/
}

.btn-dark {
    font-size: 0.9rem;
    font-weight: 600;
    color: #44274d;
    background-color: #99ff99;
    border-color: #ffffcc;
    border-width: unset;
}
/*------------------*/

/*second Page adjust*/
#crosstitle {
    /*width: 20em;*/
    margin: 8px 0;
}

.serveBack {
    background-color: #0c4c495c;
    color: white
}
.slide li {
    margin: 0;
    color: #fff;
}

.col {
    padding: 0 5px
}

.content-row {
    margin: 2em 0
}

.glr-slide {
    background-size: auto 100%;
    background: #f2f2f2 no-repeat center
}

.fp-controlArrow {
    display: none
}

@media all and (orientation:portrait) {
    .fp-tableCell {
        vertical-align: center;
    }
    .servelist {
        width: 18em;
    }
}
@media all and (orientation:landscape) {
    /*second slide*/
    .fp-tableCell {
        /*vertical-align: top;*/
    }
    .servelist {
        width: 20em;
        padding: 0 .2em;
        font-size: .98em;
    }
}

@media screen and (min-width: 374px) {
    .nav-contacts {
        display: inline-block
    }
}

@media screen and (min-height: 550px) {
    a.nav-link {
        padding: .3em;
    }
    #first-container, second-container{
        height: 85%
    }
    .subtitle {
        height: 13em;
    }
    #section1 h1, #section2 h1 {
        line-height: 1.6em;
    }
    #section1 h2 {
        line-height: 1.5em;
    }
    #section2 h1 {
        font-size: 1.3em;
    }
    .slide li {
        margin: .2em;
    }
}

@media screen and (min-width: 576px) {
    #crosstitle {
        /*width: 35em;*/
    }
}

@media screen and (min-width: 768px) {
    /*page adjustment*/
    .nav-btn-contacts {
        display: none
    }
    /*div.fp-tableCell {*/
        /*!*vertical-align: top;*!*/
    /*}*/
    #first-container, second-container  {
        vertical-align: top;
        height: 70%;
        width: 40em;
    }
    /*.subtitle h2 {*/
        /*width: 40em !important;*/
    /*}*/
    /*.subtitle {*/
        /*background-color: transparent;*/
        /*height: auto*/
    /*}*/

    #crosstitle {
        width: 40em;
    }

    a.nav-link {
        margin: 0 4px !important;
    }
    /*fon size*/
    #section1 h1 {
        /*font-size: 2em;*/
    }
    #section1 h2 {
        /*font-size: 2em;*/
        /*margin-bottom: 8em;*/
    }


}

@media screen and (min-width: 1090px) {
    .nav-contacts {
        text-indent: unset;
        width: auto
    }
    .fp-controlArrow {
        display: block
    }
    #first-container, second-container  {
        width: 1000px;
    }
    #section1 h1 {
        font-size: 2.5em;
    }
    #section1 h2 {
        font-size: 2em;
        /*margin-bottom: 8em;*/
    }

}

@media screen and (min-width: 1200px) {
    h1 {
        font-size: 2.5em
    }
}