/*fonts declaration*/
@font-face {
    font-family: "PlumbMedium";
    src: url('fonts/PlumbMediumC.ttf') format("truetype")
}

/*-----------------*/

/*Adjust properly background attachment*/
body {
    /*left: 0;*/
    /*top: 0;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*margin: 0;*/
    /*padding: 0;*/
    z-index: -10;
    /*background-size: 100% auto;*/
    background: url("imgs/background/table_desktop.png") no-repeat fixed center bottom;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

/*.fp-section {*/
/*padding-top: 44px;*/
/*}*/
/*-----------------*/

/*setup font*/
h1, h2, a.nav-link, a.nav-btn-contacts, a.nav-contacts {
    font-family: PlumbMedium;
}

h1, h2 {
    color: #fff;
    margin: 0 0;
    padding: 0 0;
}

/*----------------------------*/


/*navbar*/
a, span, .navbar { /*transition*/
    transition: all 300ms linear;
}

.navbar { /*set color, minimize height*/
    background-color: #2a6363;
    padding-top: 0;
    padding-bottom: 0;
}


#nav-tel {
    background-image: url("imgs/icons/call32white.png");
}

#nav-mail {
    background-image: url("imgs/icons/mail32white.png");
}

a.nav-contacts, a.nav-btn-contacts, a.nav-link {
    font-size: 0.8rem;
    color: #ffffffb5 !important;
}

a.nav-btn-contacts {
    color: rgba(255, 255, 255, .85) !important;
    text-decoration: underline rgba(255, 255, 255, .6) !important;
}

a.nav-link {
    font-size: .8rem;
    padding: .2rem 0;
}

.nav-contacts { /*contact strip in menu*/
    display: none;
    background: no-repeat left center;
    background-size: 1.25rem 1.25rem;
    padding-left: 1.3rem;
    text-indent: -88888px;
    width: 0;
}

.nav-contacts, a.nav-btn-contacts, a.nav-link {
    filter: invert(0);
    -webkit-filter: invert(0);
    -ms-filter: invert(0)
}

/*-----------*/

/*Fullpage sections. setup background for navbar color changing*/
.fp-tableCell {
    padding: 0 0;
    vertical-align: top;
    height: 100% !important;
}

.section {
    text-align: center;
    background-color: rgba(42, 99, 99, 0)
}

#section1, #section2 {
    background-color: rgba(42, 99, 99, 0)
}

#section3 {
    background-color: rgba(242, 242, 242, 0)
}

/*---------*/

/*FullPage controllers*/
.fp-slidesNav {
    bottom: 0px !important;
    height: 22px;
}

.fp-slidesNav span {
    background: white !important;
}

/*-------------------------*/
/*first Page content adjust*/

#first-container, #second-container, #third-container {
    width: 100%;
    height: 100%;
    /*padding-top: 44px;*/

    /*height: 95%;*/
}

#section1 h1 {
    font-size: 1.1rem;
    padding: 0 4px;
}

#section1 h2 {
    font-size: 0.9rem;
    padding: 0 4px;
}

/*black-strip*/
.offerBack {
    background-color: #0c4c495c;
    width: 100%;
    /*height: 5rem;*/
    padding: 6px 0;
}

.btn-dark {
    /*font-size: 0.9rem;*/
    width: 8rem;
    font-size: 0.7rem;
    font-weight: 600;
    color: #44274d;
    background-color: #99ff99;
    border-color: #ffffcc;
    border-width: unset;
}

/*------------------*/

/*second Page adjust*/
#section2 {

}

#section2 h1 {
    font-size: 1rem;
}

#section2 h2 {
    font-size: 0.8rem;
}

#crosstitle {
    /*size: inherit;*/
    /*padding: 8px 0;*/
    padding: 0.2rem;
}

sndSlide {
    height: 75% !important;
}

.sndSlideTitle {
    /*padding-bottom: 0.5rem;*/
}

.servelist {
    /*width: 240px;*/
}

.serveBack {
    background-color: #0c4c495c;
    /*padding: 6px 0;*/
    color: white
}

.servelist ul {
    padding-left: 0;
    margin-bottom: 0;
    font-size: 0.8rem;
    margin: 0;
    color: #fff;
    line-height: 1.4;
}

.servelist ul {
    line-height: 1.3;
}

.col {
    padding: 0;
    margin: 0 5px;
}

.container-row {
    margin-right: 0;
    margin-left: 0;
}

.content-row {
    margin: 2em 0
}

.glr-slide {
    background-size: auto 100%;
    background: #f2f2f2 no-repeat center
}

.fp-controlArrow {
    display: none
}

@media all and (orientation: portrait) {
    #section2 h1 {
        font-size: 1.1rem;
    }

    #section2 h2 {
        font-size: 0.9rem;
    }

    .sndSlideTitle {
        padding-bottom: 1rem;
    }

    .servelist ul {
        padding-left: 1.1rem;
        font-size: 1rem;
    }

    /*.fp-tableCell {*/
    /*vertical-align: middle;*/
    /*}*/
    .servelist {
        width: 18rem;
    }

    /*before this size works mini menu in portrait*/
    @media screen and (max-height: 480px) {
        /*.fp-section {*/
        /*padding-top: 34px;*/
        /*}*/
        .navbar-brand {
            font-size: 1rem;
        }

        .navbar-toggler {
            width: 2.2rem;
            height: 1.7rem;
            padding: 0;
        }

        .navbar-toggler-icon {
            width: 1.3rem;
            height: 1.3rem;
        }

        .nav-contacts { /*contact strip in menu*/
            background-size: 1rem 1rem;
        }
    }

    @media screen and (min-height: 430px) {
        .fp-tableCell {
            vertical-align: middle;
        }
        #crosstitle {
            padding: .8rem;
        }
    }


    @media screen and (min-height: 640px) {
        /*navbar*/
        a.nav-link {
            font-size: 1rem;
            line-height: 2rem;
        }

        /*firstPage*/
        .offerBack {
            height: 10rem;
        }

        #section1 h1 {
            font-size: 1.2rem;
        }

        #section2 h2 {
            font-size: 1.1rem;
        }

        /*second Page*/
        .servelist ul {
            font-size: 1rem;
            line-height: 1.7rem;
        }
#section2 h1 {
    font-size: 1.6rem;
}
        #section2 h2 {
            font-size: 1.1rem;
        }

        #crosstitle {
            padding: 16px 0;
        }

    }


    @media screen and (min-height: 667px) {
        #crosstitle {
            padding: 3rem 0;
        }
    }

    /*@media screen and (min-height: 736px) {*/
    /*!*first page*!*/
    /*#section1 h2 {*/
    /*font-size: 1.4rem;*/
    /*}*/
    /*#section1 h1 {*/
    /*font-size: 1.8rem;*/
    /*}*/
    /*!*second page*!*/
    /*#crosstitle {*/
    /*padding: 4rem 0;*/
    /*}*/
    /*#section2 h2 {*/
    /*font-size: 1.4rem;*/
    /*}*/
    /*#section2 h1 {*/
    /*font-size: 1.8rem;*/
    /*}*/
    /*.servelist ul {*/
    /*font-size: 1.3rem;*/
    /*}*/
    /*.servelist {*/
    /*width: 20rem;*/
    /*}*/
    /*}*/
}

/*before this size works mini menu in landscape*/
@media screen and (max-height: 459px) {
    /*navbar*/
    .navbar-brand {
        font-size: 1rem;
    }

    .navbar-toggler {
        width: 2.2rem;
        height: 1.7rem;
        padding: 0;
    }

    .navbar-toggler-icon {
        width: 1.3rem;
        height: 1.3rem;
    }

    a.nav-contacts {
        font-size: 0.5rem;
    }
}

@media screen and (min-height: 360px) {
    /*general*/
    .fp-tableCell {
        vertical-align: middle;
    }
}



@media screen and (min-width: 374px) {
    .nav-contacts {
        display: inline-block
    }

}

@media all and (orientation: landscape) {
    @media screen and (min-height: 360px) {
    #crosstitle {
        width: 30rem;
    }
        #section2 h1 {
            font-size: 1.2rem;
        }
        #section2 h2 {
        font-size: 1rem;
    }
        .servelist ul {
            font-size: 0.9rem;
        }
    }
    @media screen and (min-height: 459px) {

        /*second Page*/
        /*#section2 h2 {*/
        /*font-size: 1rem;*/
        /*}*/

        /*#section2 h1 {*/
        /*font-size: 1.2rem;*/
        /*}*/
        /*.servelist ul {*/
        /*font-size: 0.9rem;*/
        /*}*/
        #crosstitle {
            padding: 3rem 0.5rem;
        }
    }

    @media screen and (min-height: 640px) {
        /*firstPage*/
        .offerBack {
            height: 5rem;
        }

        /*secondPage*/
        .servelist {
            width: 16rem;
        }

        .servelist ul {
            line-height: 1.3;
            font-size: 1rem;
        }

        #section2 h1, #section1 h1 {
            font-size: 1.4rem;
        }

        #section2 h2, #section1 h2 {
            font-size: 1.1rem;
        }

        #maintitle {
            width: 400px;
        }

        #crosstitle {
            width: 500px
        }
    }
    @media screen and (min-height: 736px) {
        /*first page*/
        #section1 h2 {
            font-size: 1.4rem;
        }

        #section1 h1 {
            font-size: 1.8rem;
        }

        /*second page*/
        #crosstitle {
            padding: 4rem 0;
        }

        #section2 h2 {
            font-size: 1.4rem;
        }

        #section2 h1 {
            font-size: 1.8rem;
        }

        .servelist ul {
            font-size: 1.3rem;
        }

        .servelist {
            width: 20rem;
        }
    }
}

@media screen and (min-width: 768px) {
    /*page adjustment*/
    .nav-btn-contacts {
        display: none
    }

    #maintitle, #offer, #crosstitle {
        width: 40rem;
    }

    a.nav-link {
        margin: 0 4px !important;
    }
}

@media screen and (min-width: 1090px) {
    .nav-contacts {
        text-indent: unset;
        width: auto
    }

    .fp-controlArrow {
        display: block
    }
}
